In [1]:
import pandas as pd

In [2]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../scripts')))

In [3]:
from utils import *

In [4]:
csv_files = [
    '../data/scrapped_data/@CheMed123_data.csv',
    '../data/scrapped_data/@DoctorsET_data.csv',
    '../data/scrapped_data/@EAHCI_data.csv',
    '../data/scrapped_data/@lobelia4cosmetics_data.csv',
    '../data/scrapped_data/@yetenaweg_data.csv'
]

In [5]:
# Read each CSV into a DataFrame and store in a list
dfs = [pd.read_csv(file) for file in csv_files]

# Concatenate all DataFrames into one
merged_df = pd.concat(dfs, ignore_index=True)

# Save the merged DataFrame to a new CSV file
merged_df.to_csv('../data/scrapped_data/merged_file.csv', index=False)

In [6]:
merged_df.head()

,Channel Title,Channel Username,ID,Message,Date,Views,Message Link
0,CheMed,@CheMed123,97,"⚠️Notice!\nDear esteemed customers,\nDue to fo...",2023-02-10 12:23:06+00:00,988.0,https://t.me/@CheMed123/97
1,CheMed,@CheMed123,96,Mela-One በውስጡ ሆርሞን ያለው ድንገተኛ ወሊድ መቆጣጠርያ ሲሆን ያለ...,2023-02-02 08:58:52+00:00,971.0,https://t.me/@CheMed123/96
2,CheMed,@CheMed123,95,አዚትሮማይሲን በሃኪም መድሃኒት ማዘዣ ከሚታዘዙ አንቲባዮቲኮች አንዱ ሲሆን...,2023-02-01 08:59:37+00:00,882.0,https://t.me/@CheMed123/95
3,CheMed,@CheMed123,94,Che-Med Trivia #3\n\nምግብና መጠጦች አንዳንድ መድሃኒቶች በደ...,2023-01-31 09:19:53+00:00,689.0,https://t.me/@CheMed123/94
4,CheMed,@CheMed123,93,"Che-Med Trivia #2\n\nእንደ Ciprofloxacin, Doxycy...",2023-01-30 09:45:25+00:00,603.0,https://t.me/@CheMed123/93

### Checking missing values

In [7]:
missing_values_table(merged_df)

Your selected dataframe has 7 columns.
There are 2 columns that have missing values.

         Missing Values  % of Total Values
Message            1187               18.6
Views               380                6.0

### Dropping missing values

In [12]:
merged_df.dropna(inplace=True)

In [13]:
missing_values_table(merged_df)

Your selected dataframe has 7 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

### Checking for duplicates

In [14]:
# Check for duplicated rows
duplicated_rows = merged_df[merged_df.duplicated()]

# Display duplicated rows
duplicated_rows

Empty DataFrame
Columns: [Channel Title, Channel Username, ID, Message, Date, Views, Message Link]
Index: []